.dialog-container {
    h2 {
        color: var(--dark-blue);
        margin-top: 0;
    }

    p {
        color: var(--grayish-blue);
        line-height: var(--paragraph-line-height);
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        button {
            width: 100%;
        }

        button:not(:last-child) {
            margin-right: 1em;
        }
    }
}