@use '../styles/variables' as variables;

.comment-reply-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: variables.$box-padding;
    border-radius: variables.$box-radius;
    background-color: var(--white);
    max-width: variables.$comment-max-width;

    img {
        width: variables.$current-user-image-size;
        height: variables.$current-user-image-size;
        margin-right: variables.$user-elements-margin;
    }

    textarea {
        width: 100%;
        min-height: variables.$current-user-image-size * 3;
        border-radius: variables.$box-radius;
        padding: 1em variables.$box-padding;
        font-family: var(--font-family);
        font-size: var(--font-size);
        line-height: 1.5em;
        outline: none;
        color: var(--dark-blue);
        border-color: var(--light-gray);
        resize: none;
        box-sizing: border-box;
    }
    
    textarea:focus {
        border-color: var(--moderate-blue);
    }
    
    textarea::-webkit-scrollbar {
        display: none;
    }

    .aside {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        .reply-box-reply-button {
            margin-left: variables.$user-elements-margin;
        }
    }

    .bellow {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        .reply-box-reply-button {
            margin-top: variables.$user-elements-margin;
        }
    }

    .reply-container {
        width: 100%;

        .reply-box-reply-button {
            min-width: 7em;
            background-color: var(--moderate-blue);
            color: var(--white);
            cursor: pointer;
        }

        .reply-box-reply-button:hover {
            background-color: var(--light-grayish-blue);
        }
    }
}

@media(max-width: "699px") {
    .comment-reply-box {
        position: relative;
        padding: variables.$box-padding-mobile;

        img {
            position: absolute;
            width: variables.$current-user-image-size-mobile;
            height: variables.$current-user-image-size-mobile;
            bottom: calc(#{variables.$box-padding-mobile} + (3em - #{variables.$current-user-image-size-mobile}) / 2.5);
            left: variables.$box-padding-mobile;
            margin-right: 0;
        }

        .aside {
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
    
            .reply-box-reply-button {
                margin-left: 0;
                margin-top: variables.$user-elements-margin;
            }
        }
    }
}