<div class="comment-reply-box" [style.padding]="padding ?? ''">
    <img *ngIf="showUser" [src]="(currentUser$ | async)?.image?.png?.replace('./', './assets/')">

    <div 
        class="reply-container"
        [ngClass]="{'aside': buttonPosition == 'aside', 'bellow': buttonPosition == 'bellow'}"
    >
        <textarea #comment placeholder="Add a comment..." [formControl]="commentControl"></textarea>

        <button class="beeg-button reply-box-reply-button" (click)="saveComment()">
            {{ buttonText }}
        </button>
    </div>
</div>
