.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    box-sizing: border-box;

    .comment {
        margin-bottom: 1em;
        max-width: 44.375em;
        width: 100%;
    }

    .user-comment {
        max-width: 44.375em;
        width: 100%;
    }
}
